<div class="bg-page">
  <mat-card>
    <mat-card-content>

      <mat-form-field>
        <mat-label>Amount</mat-label>
        <input matInput type="number" >
      </mat-form-field>

      <mat-form-field>
        <mat-label>From</mat-label>
        <mat-select >
          <mat-option></mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>To</mat-label>
        <mat-select >
          <mat-option></mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button color="primary" >Convert</button>


    </mat-card-content>
  </mat-card>
</div>
