<div class="bg-page">
  <mat-card>
    <mat-card-content>
      <mat-form-field floatLabel="always" appearance="outline">
        <mat-label>Amount</mat-label>
        <input matInput type="number" class="text-effects" [(ngModel)]="amount">
        <span matTextPrefix>{{ getCurrencySymbol(selectedFromCurrency) }}&nbsp;</span>
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="outline">
        <mat-label>From</mat-label>
        <mat-select [(ngModel)]="selectedFromCurrency">
          <mat-option *ngFor="let currency of exchangeRateData.currencyList" [value]="currency.code">
            {{currency.code}} - {{currency.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field floatLabel="always" appearance="outline">
        <mat-label>To</mat-label>
        <mat-select [(ngModel)]="selectedToCurrency">
          <mat-option *ngFor="let currency of exchangeRateData.currencyList" [value]="currency.code">
            {{currency.code}} - <p> {{currency.name}}</p>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>

    <div class="button-line">
      <div *ngIf="convertedAmount">
        <p class="prev-amount">{{amount}} {{exchangeFromName}} = </p>
        <p class="conv-amount">{{convertedAmount}}<span>{{remainingDecimal}}</span> {{exchangeToName}}</p>
      </div>
      <button mat-raised-button color="primary" (click)="convert()">Convert</button>
    </div>

  </mat-card>
</div>
